@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    --body-background-gradiant: linear-gradient(to left bottom, rgb(47, 188, 178) 0px, rgb(41, 92, 163) 100%);;
}

body {
    background-image: var(--body-background-gradiant);
}

body, html {
    height: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}