:root {
    --citysearched-card-background: white;
}

.City-Searched-Card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
    border-radius: 1.5em;
    box-shadow: 0 0 1em rgba(86, 86, 250, 0.274);
    background-color: var(--citysearched-card-background);
}

.City-Searched-Card h1 {
    font-weight: 500;
}
.main-content {
    text-align: center;
    justify-content: center;
    height: 55%;
}
.main-content img{
    height: 80%;
    width: 100%;
}

.main-content h2 {
    margin-top: 0.3rem;
}

.min-max-temperature {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.temperature {
    font-size: 24px;
}
.min-text, .max-text {
    font-size: 18px;
}
.min-temperature, .max-temperature {
    height: 80%;
    font-weight: bold;
    width: auto;
}

.max-temperature .max-text, .max-temperature i{
    color: red;
}

.min-temperature .min-text, .min-temperature i {
    color: #00ff9b
}

.add-button {
    display: flex;
    justify-content: center;
    position: relative;
}

.add-button button {
    position: absolute;
    transform: translateY(-50%);
    background: #2b244d;
    color: white;
    outline: 0;
    border: 0;
    border-radius: 1.5rem;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    width: fit-content;
}