.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: var(--card-container-rows);
    row-gap: 1.5em;
    overflow: hidden;
    height: 95vh;
    width: 100vw;
    overflow-y: scroll;
    justify-items: center;
}

.card-container::-webkit-scrollbar {
    width: 0.5vw;
}

.card-container::-webkit-scrollbar-track {
    background: #bdc3c7;
}

.card-container::-webkit-scrollbar-thumb {
    background: #95a5a6;
}


.card-container .add-card {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100%;
    background: var(--card-background-color);
    border-radius: 25px;
    cursor: pointer;
}

.card-container .add-card svg {
    margin: auto 5% 5% 5%;
}

.card-container .add-card .icon-button p {
    user-select: none;
    color: var(--card-title-color);
}
.card-container .add-card .icon-button {
    margin-top: 2vh;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.card-container .add-card .icon-button .add-icon {
    display: flex;
    margin: 2vh auto 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 8vw;
    height: 10vh;
    font-size: 42px;
    background-color: var(--add-card-icon-background-color);
    border:  var(--add-card-icon-border-color) solid 1px;
    border-radius: 50%;
    color: var(--add-card-icon-color);
}